<svg #svg>
  <g class="centered" id="ArcSegments" #segments>
    <ng-container *ngIf="arcSegments">
      <path *ngFor="let s of arcSegments" [@activeAnim]="activeSegments.includes(s.index)" [attr.d]="s.path" stroke-width="1" ></path>
    </ng-container>
  </g>
  <g class="centered" id="Ticks" #segments>
    <ng-container *ngIf="ticks">
      <line *ngFor="let t of ticks" [class.active]="activeSegments.includes(t.index)" [attr.x1]="t.p1.x" [attr.y1]="t.p1.y" [attr.x2]="t.p2.x" [attr.y2]="t.p2.y" stroke="black" stroke-width="1" fill="none"></line>
    </ng-container>
  </g>

  <g class="centered">
    <circle *ngIf="knob" id="Knob" [attr.cx]="knob.x" [attr.cy]="knob.y" [attr.r]="knobSize" />
  </g>

</svg>
<div id="value">
  <div>{{ value$ | async }}</div>
</div>
